*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    background-color:cornsilk;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu .item{
    display: inline-block;
}
.item-derecha {
    float: right;
}
.item a{
    text-decoration: none;
    color:black;
    padding: 20px 45px;
    display: block;
}

.item a:hover{
    background-color: white;
    color: black;
}
